# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS metadata
.DS_Store

# Environment files
.env
.env.*
!.env.example

# Docker override files
docker-compose.override.yml